.hover:hover {
  cursor: pointer;
}

.lobby-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.create-input {
  height: 35px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
}

.create-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
}

.create-button:hover {
  cursor: pointer;
  background-color: #45a049;
}
