.subheader {
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
}

.room-list {
  width: 401px;
  border: 1px solid;
  border-radius: 5px;
}
.room-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 10px;
  align-items: center;
}

.room-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.room-name {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 2px;
}

.room-players {
  font-size: 0.875rem;
  color: #555;
  margin-left: 1px;
}

.room-join-button {
  padding: 6px 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
}
.room-join-button:hover {
  cursor: pointer;
  background-color: #2563eb;
}
