.game-room-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

#team-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 10px;
}

.team-members {
  width: 200px;
  height: 260px;
  border: 1px solid black;
  background-color: rgb(251, 248, 247);
  border-radius: 5px;
  overflow-y: auto;
}

.team-item {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.red-item {
  border-bottom: 1px solid gray;
}

.blue-item {
  border-bottom: 1px solid gray;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.chat-container {
  background-color: #e3e0e0;
  border: 1px solid black;
  border-radius: 9px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#message-container {
  flex-grow: 1;
  overflow-y: scroll;
}

#message {
  background-color: #ccc;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  border-bottom: 1px solid #999;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#message-container div:nth-child(odd) {
  background-color: #eee;
}

.chat-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ece8e8;
  height: 60px;
  border-top: 1px solid #999;
  gap: 10px;
  padding: 10px;
}

#message-input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
}

#send-button {
  padding: 6px 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.form-field-container {
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
  gap: 10px;
  justify-content: space-between;
  width: 350px;
}

.team-buttons-container {
  justify-self: center;
}

#quit {
  margin-bottom: 10px;
  margin: auto;
}

/* media query for less or equal than 270px */
@media (max-width: 270px) {
  .body {
    height: 100%;
  }
  .container {
    flex-direction: column;
    height: 100%;
  }
  .game-info {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
  }
  .message-container {
    max-height: 35vh;
  }
  .inputs-container {
    flex-direction: column;
    align-items: stretch;
  }
  .team-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
  }
  .form-field-container {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  #room-button {
    margin-bottom: 10px;
  }
  #leave-room {
    width: 100%;
  }
}
